body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9e4bc;
}

h1 {
    color: #5c4033;
}

#menu, #snack-menu {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

li {
    margin: 10px;
}

button {
    background-color: #5c4033;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5c4033;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
